
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='chat__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

  <h1>Chat mit {{ dude.username }}</h1>

  <br>

    <table id="Tabelle">
        <tr>
          <th> &nbsp Text &nbsp </th>
          <th> &nbsp Uhrzeit &nbsp </th>
        </tr>
        {% for message in messages %}
          {% if message.transmitter == dude.id %}
              <tr>
                <td><a1> &nbsp {{ message.text }} &nbsp</a1></td>
                <td style="font-size: 1.0rem;"> &nbsp {{ message.created_at }} &nbsp </td>
              </tr>
          {% else %}
              <tr>
                <td align="right"><a2>&nbsp {{ message.text }} &nbsp</a2></td>
                <td style="font-size: 1.0rem;">&nbsp {{ message.created_at }} &nbsp</td>
              </tr>
          {% endif %}
        {% endfor %}
    </table>

</div>

<br>
<br>

<p align="center">
  <a3> &nbsp Neue Nachricht versenden &nbsp</a3>
</p>

<form style="color: black; align-items: center;" align= "center" action="/chat/{{dude.id}}" method="POST">
  <input type="text" name="send" id="send"><br><br>
  <input type="submit" value="Abschicken">
</form>

<br>
<br>

<form>
  <input type="button" value="Back" onclick="history.back()" class="button" style="color: black;" align= "center">
</form>

{% endblock %}
