
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='chat__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

  <h1>Chat mit {{ dude.username }}</h1>

  <br>

    <table class="Table">
        <tr>
          <th> &nbsp Text &nbsp </th>
          <th> &nbsp Uhrzeit &nbsp </th>
        </tr>
        {% for message in messages %}
          {% if message.transmitter == dude.id %}
              <tr>
                <td><a1> &nbsp {{ message.text }} &nbsp </a1></td>
                <td><a1> &nbsp {{ message.created_at }} &nbsp </a1></td>
              </tr>
          {% else %}
              <tr>
                <td><a2>&nbsp {{ message.text }} &nbsp</a2></td>
                <td><a2>&nbsp {{ message.created_at }} &nbsp</a2></td>
              </tr>
          {% endif %}
        {% endfor %}
    </table>

    <br>
    <br>
    <p> Neue Nachricht versenden </p>
  <form style="color: green; align-items: center;" action="/chat/{{dude.id}}" method="POST">
    <input type="text" name="send" id="send"><br>
    <input type="submit" value="Abschicken">
  </form>


    <br>
    <br>


  <form>
   <input type="button" value="Back" onclick="history.back()" class="button" style="color: black;">
  </form>

</div>

{% endblock %}
