
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='com_offer_detail__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

<div class="offer-label-container">
  <p>Username </p>
  <p>von </p>
  <p>nach </p>
  <p>gewünschte Uhrzeit </p>
  <p>bis</p>
  <p>Kilometerpreis </p>
  <p>erstellt am </p>
</div>

<div class="offer-detail-container">
  <p>{{ data.creator.first().username }}</p>
  <p>{{ data.start }}</p>
  <p>{{ data.destination }}</p>
  <p>{{ data.start_time }}</p>
  <p>{{ data.start_time }}</p>
  <p>{{ data.kilometerpreis }}</p>
  <p>{{ data.created_at }}</p>
</div>


<div class="btn" onclick="history.back()">
Back
</div>



<div class="btn" onclick="location.href='/accept_com_offer/{{ data.id }}'">
Accept
</div>

<div class="btn" onclick="location.href='/chat/{{data.creator.first().id}}'">
Contact Company
</div>


  </div>


{% endblock %}
