
<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}

<link href="{{url_for('static', filename='comOffer__style.css')}}" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<style media="screen">
  p
  {
    color: white;
  }
</style>

{% endblock %}

{% block content %}

<div class="content">

<div class="scroll-container">



{% for offer in offers %}
<div class="offer-container"onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">

  <div class="list-entry">
    <b>Route</b> <br>
    {{ offer.get_start() }} -> {{ offer.get_destination() }}
  </div>
  <div class="list-entry">
    <b>Start</b> <br>
      {{ offer.get_start_time() }}
  </div>
  <div class="list-entry">
    <b>End</b> <br>
      {{ offer.get_end_time() }}
  </div>
  <div class="list-entry">
    <b>€ / km</b> <br>
      {{ offer.get_kilometerpreis() }} €
  </div>
<span class="stretch"></span>
</div>
{% endfor %}

</div>

<div class="spacer-container">
  <div id = "create-offer-btn" class="btn" onClick="location.href='/create_com_offer'"">
     Create Com Offer
  </div>
  </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='comOffer__script.js') }}"></script>

{% endblock %}
