<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}

<link href="{{url_for('static', filename='create_style.css')}}" rel="stylesheet" type="text/css">

<style media="screen">
  p
  {
    color: white;
  }
</style>

{% endblock %}

{% block content %}

<br>

<div>
  <h1>
      Angebote von Nutzern:
  </h1>

<br>

  <table class="Table" style="table-layout:fixed;">
      <tr>
        <th style="width:50px;"> ID </th>
        <th style="width:150px;"> Start </th>
        <th style="width:150px;"> Ende </th>
        <th style="width:150px;"> Geld </th>
        <th style="width:100px;"> Aktionen </th>
      </tr>
      {% for offer in allOffers %}
        <tr>
          <td>{{ offer.id }}</td>
          <td>{{ offer.start }}</td>
          <td>{{ offer.end }}</td>
          <td>{{ offer.money }}</td>
          <td>
            <a href="/delete/{{offer.id}}">Löschen</a>
            <br>
            <a href = "">Kontakt</a>
          </td>
        </tr>
        {% endfor %}
  </table>

  <br>
  <br>
  <p>
    Nichts passendes gefunden? Dann kannst du hier ein entsprechendes Gesuch einstellen!
  </p>
  <br>
<form style="color: black; align-items: center;" action="/create" method="POST">
  <label for "start" class="Label"> Start:</label><br>
  <input type="text" name="start" id="start"><br>
  <label for "ende" class="Label"> Ende:</label><br>
  <input type="text" name="ende" id="ende"><br>
  <label for "geld" class="Label"> Geld:</label><br>
  <input type="text" name="geld" id="geld"><br>
  <br>
  <input type="submit" value="Angebot hinzufügen">
</form>

</div>



{% endblock %}
