<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{url_for('static', filename='create_drive_offer__style.css')}}" rel="stylesheet" type="text/css">
     <!-- <link href="{{url_for('static', filename='user__style.css')}}" rel="stylesheet" type="text/css"> -->
{% endblock %}


 {% block content %}

<div class="content">


    <form method ="POST" action="/create_drive_offer">
            {{ form.csrf_token }}



            <div class="label-container">



            {{ form.ort.label }}

            <br>
            {% for error in form.ort.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.fahrzeug.label }}

            <br>
            {% for error in form.fahrzeug.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.zeit_start.label }}

            <br>
            {% for error in form.zeit_start.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.zeit_ende.label }}

            <br>
            {% for error in form.zeit_ende.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}

            <br>


            {{ form.preis.label }}

            <br>
            {% for error in form.preis.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.radius.label }}

            <br>
            {% for error in form.radius.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.bemerkungen.label }}

            <br>
            {% for error in form.bemerkungen.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br>

            {{ form.submit(id='create-save-offer') }}

          </div>



            <div class="input-container">


            {{ form.ort(class_="input") }}
            <br>
            {{ form.fahrzeug(class_="input") }}
            <br>
            {{ form.zeit_start(class_="input") }}
            <br>
            {{ form.zeit_ende(class_="input") }}
            <br>
            {{ form.preis(class_="input") }}
            <br>
            {{ form.radius(class_="input") }}
            <br>
            {{ form.bemerkungen(class_="input") }}

            {{ form.from_zeitMo(class_="input") }}
            {{ form.from_zeitDi(class_="input") }}
            {{ form.from_zeitMi(class_="input") }}
            {{ form.from_zeitDo(class_="input") }}
            {{ form.from_zeitFr(class_="input") }}
            {{ form.from_zeitSa(class_="input") }}
            {{ form.from_zeitSo(class_="input") }}
            </div>
         </form>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='create_drive_offer__script.js') }}"></script>



{% endblock %}
