<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{ url_for('static', filename='create_com_offer__style.css') }}" rel="stylesheet" type="text/css">
     <!-- <link href="{{url_for('static', filename='user__style.css')}}" rel="stylesheet" type="text/css"> -->
{% endblock %}

 {% block content %}

 <div id="container" class="col-lg-6 py-2">
     <div class="card h-75 m-3">
         <div class="card-body h-75">
           <form method ="POST" id="offer-form" action="/create_com_offer">
                   {{ form.csrf_token }}


                   <div class="form-group mb-3">
                     {{ form.von.label }}

                     {{ form.von(class_="form-control") }}
                     {% for error in form.von.errors %}
                       <p class="text-danger"> {{ error }} </p>
                     {% endfor %}

                   </div>

                   <div class="form-group mb-3">

                     {{ form.nach.label }}

                       {{ form.nach(class_="form-control") }}
                       {% for error in form.nach.errors %}
                         <p class="text-danger"> {{ error }} </p>
                       {% endfor %}

                   </div>

                       <div class="form-group mb-3">
                           {{ form.zeit_start.label }}<span title="Date and time when you want to use the service" class="info"><i class="bi bi-info-circle"></i></span>

                             {{ form.zeit_start(class_="form-control") }}
                             {% for error in form.zeit_start.errors %}
                               <p class="text-danger"> {{ error }} </p>
                             {% endfor %}

                         </div>

                     <div class="form-group mb-3">
                     {{ form.zeit_ende.label }}<span title="If you have a time frame for when you want to use the service this is the end time (optional)" class="info">
                       <i class="bi bi-info-circle"></i></span>

                       {{ form.zeit_ende(class_="form-control") }}
                     {% for error in form.zeit_ende.errors %}
                     <p class="text-danger"> {{ error }} </p>
                     {% endfor %}

                   </div>

                   <div class="form-group mb-3">
                     {{ form.geld.label }} <span title="The price in Euro you are willing to pay in Euro per kilometer" class="info"><i class="bi bi-info-circle"></i></span>

                       {{ form.geld(class_="form-control") }}
                     {% for error in form.geld.errors %}
                     <p class="text-danger"> {{ error }} </p>
                     {% endfor %}

                       </div>

                     <div class="form-group mb-3">
                     {{ form.dauer.label }}<span title="The days for which the offer should be shown to users" class="info"><i class="bi bi-info-circle"></i></span>

                         {{ form.dauer(class_="form-control") }}
                     {% for error in form.dauer.errors %}
                     <p class="text-danger"> {{ error }} </p>
                     {% endfor %}

                   </div>
                   {{ form.submit(class_="btn btn-outline-success") }}
                </form>



     </div>
 </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='create_com_offer__script.js') }}"></script>



{% endblock %}
