<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{ url_for('static', filename='create_com_offer__style.css') }}" rel="stylesheet" type="text/css">
     <!-- <link href="{{url_for('static', filename='user__style.css')}}" rel="stylesheet" type="text/css"> -->
{% endblock %}

 {% block content %}

<div class="content">

  <form method ="POST" id="offer-form" action="/create_com_offer">
          {{ form.csrf_token }}

          <div class="scroll-container">

          <div class="route-container">

          <div class="from-container">
            {{ form.von.label }}
            <br>
            {{ form.von(id = "from-input") }}
            <br>
            {% for error in form.von.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
          </div>

          <div class="arrow-container">
            <br>
            ->
          </div>

          <div class="to-container">
            {{ form.nach.label }}
            <br>
            {{ form.nach(id = "to-input") }}
            <br>
            {% for error in form.nach.errors %}
              <p style="color: red;"> {{ error }} </p> <br>
            {% endfor %}
            <br><br>
          </div>

        </div>
        <!-- <p>Bitte wählen Sie Ihre Stadt:</p>

          <select name="cities" id="cities">
            <option value=""></option>
            <option value="hamburg">Hamburg</option>
            <option value="berlin">Berlin</option>
            <option value="koeln">Köln</option>
            <option value="frankfurt">Frankfurt</option>
            <option value="muenchen">München</option>
            <option value="dresden">Dresden</option>
            <option value="leipzig">Leipzig</option>
            <option value="duesseldorf">Düsseldorf</option>
            <option value="luebeck">Lübeck</option>
            <option value="Bremen">Bremen</option>
          </select> -->


          <div class="label-container">
            <div class="label-entry-container">

            {{ form.zeit_start.label }}<span title="Date and time when you want to use the service" class="info">i</span>
            {% for error in form.zeit_start.errors %}
            <br><br><br>
            {% endfor %}

          </div>

            <div class="label-entry-container">

            {{ form.zeit_ende.label }}<span title="If you have a time frame for when you want to use the service this is the end time (optional)" class="info">i</span>
            {% for error in form.zeit_ende.errors %}
              <br><br><br>
            {% endfor %}

          </div>

            <div class="label-entry-container">

            {{ form.geld.label }} <span title="The price in Euro you are willing to pay in Euro per kilometer" class="info">i</span>

            {% for error in form.geld.errors %}
              <br><br><br>
            {% endfor %}
            </div>


            <div class="label-entry-container">

            {{ form.dauer.label }}<span title="The days for which the offer should be shown to users" class="info">i</span>
            {% for error in form.dauer.errors %}
              <br>
            {% endfor %}
            </div>
          </div>


          <!-- beginning of the input container -->

          <div class="input-container">

            <div class="entry-container">
              {{ form.zeit_start }}
              {% for error in form.zeit_start.errors %}
                <p style="color: red;"> {{ error }} </p>
              {% endfor %}
            </div>

            <div class="entry-container">
              {{ form.zeit_ende }}
              {% for error in form.zeit_ende.errors %}
                <p style="color: red;"> {{ error }} </p>
              {% endfor %}
            </div>

            <div class="entry-container">
              {{ form.geld }}
              {% for error in form.geld.errors %}
                <p style="color: red;"> {{ error }} </p>
              {% endfor %}
            </div>

            <div class="entry-container">
              {{ form.dauer }}
              {% for error in form.dauer.errors %}
                <p style="color: red;"> {{ error }} </p>
              {% endfor %}
            </div>
          </div>

          <div style="clear:both"></div>

                    </div>

          <div class="spacer-container">
                    {{ form.submit(id='create-offer-btn') }}
            <div class="space">

            </div>

          </div>



       </form>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='create_com_offer__script.js') }}"></script>



{% endblock %}
