<meta content="width=device-width, initial-scale=1.0" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
     <link href="{{url_for('static', filename='create_drive_offer__style.css')}}" rel="stylesheet" type="text/css">
     <!-- <link href="{{url_for('static', filename='user__style.css')}}" rel="stylesheet" type="text/css"> -->
{% endblock %}


 {% block content %}

 <div id="container" class="row flex-fill vh-100 py-3" >
   <div id="containerouterlayer" class="col-lg-12 h-100 py-2">
     <div id="container" class="card h-75 col-12 m-3 p-3">

           <form method ="POST" id="offer-form"  action="/create_drive_offer">

             <div class="row align-items-center justify-content-center" style="border: 1px red solid;">

               <div class="col-lg-6">

                   {{ form.csrf_token }}

                   <div class="form-group mb-2 ">
                   {{ form.ort.label }}
                   {{ form.ort(class_="form-control") }}
                     {% for error in form.ort.errors %}
                       <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                   {{ form.fahrzeug.label }}
                   {{ form.fahrzeug(class_="form-control") }}
                     {% for error in form.fahrzeug.errors %}
                      <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                     {{ form.zeit_start.label }}
                   {{ form.zeit_start(class_="form-control") }}
                     {% for error in form.zeit_start.errors %}
                        <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                   {{ form.zeit_ende.label }}
                   {{ form.zeit_ende(class_="form-control") }}
                     {% for error in form.zeit_ende.errors %}
                       <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                   {{ form.preis.label }}
                   {{ form.preis(class_="form-control") }}
                     {% for error in form.preis.errors %}
                       <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                   {{ form.radius.label }}
                   {{ form.radius(class_="form-control") }}
                     {% for error in form.radius.errors %}
                       <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   <div class="form-group mb-2 ">
                   {{ form.bemerkungen.label }}
                   {{ form.bemerkungen(class_="form-control") }}
                     {% for error in form.bemerkungen.errors %}
                       <p class="text-danger"> {{ error }} </p> <br>
                     {% endfor %}
                   </div>

                   </div>


                   <div class="col-6 justify-content-center bg-white">

         {{ form.from_zeitMo.label }}
<div class="row">
    <fieldset class="form-inline">

         {{ form.from_zeitMo(class_="input-mini mb-2") }}
         {{ form.to_zeitMo(class_="input-mini mb-2") }}
        {% for error in form.from_zeitMo.errors %}
          <p class="text-danger"> {{ error }} </p>
        {% endfor %}
            </fieldset>
        </div>

        {{ form.from_zeitDi.label }}
        <div class="row">
            <fieldset class="form-inline">
              {{ form.from_zeitDi(class_="input-mini mb-2") }}
              {{ form.to_zeitDi(class_="input-mini mb-2") }}
              {% for error in form.from_zeitDi.errors %}
                <p class="text-danger"> {{ error }} </p>
              {% endfor %}
                    </fieldset>
        </div>

        {{ form.from_zeitMi.label }}
        <div class="row">
            <fieldset class="form-inline">

              {{ form.from_zeitMi(class_="input-mini mb-2") }}
              {{ form.to_zeitMi(class_="input-mini mb-2") }}
              {% for error in form.from_zeitMi.errors %}
                <p class="text-danger"> {{ error }} </p>
              {% endfor %}
                    </fieldset>
                </div>

{{ form.from_zeitDo.label }}
        <div class="row">
            <fieldset class="form-inline">

              {{ form.from_zeitDo(class_="input-mini mb-2") }}
              {{ form.to_zeitDo(class_="input-mini mb-2") }}
              {% for error in form.from_zeitDo.errors %}
                <p class="text-danger"> {{ error }} </p>
              {% endfor %}
                    </fieldset>
                </div>


      {{ form.from_zeitFr.label }}
      <div class="row">
          <fieldset class="form-inline">

            {{ form.from_zeitFr(class_="input-mini mb-2") }}
            {{ form.to_zeitFr(class_="input-mini mb-2") }}
            {% for error in form.from_zeitFr.errors %}
              <p class="text-danger"> {{ error }} </p>
            {% endfor %}
                  </fieldset>
              </div>

      {{ form.from_zeitSa.label }}
      <div class="row">
          <fieldset class="form-inline">

            {{ form.from_zeitSa(class_="input-mini mb-2") }}
            {{ form.to_zeitSa(class_="input-mini mb-2") }}
            {% for error in form.from_zeitSa.errors %}
              <p class="text-danger"> {{ error }} </p>
           {% endfor %}
                  </fieldset>
              </div>

      {{ form.from_zeitSo.label }}
      <div class="row">
          <fieldset class="form-inline">

            {{ form.from_zeitSo(class_="input-mini mb-2") }}
            {{ form.to_zeitSo(class_="input-mini mb-2") }}
            {% for error in form.from_zeitSo.errors %}
              <p class="text-danger"> {{ error }} </p>
            {% endfor %}
                  </fieldset>
              </div>


             </div>
                </form>
<button class="btn btn-outline-success"  onClick="location.href='/create_drive_offer'"> Create Driver Offer</button>
     </div>
 </div>
</div>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='config.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='create_drive_offer__script.js') }}"></script>

{% endblock %}
