
{% extends 'flask_user/_public_base.html' %}


{% block extra_css %}

<link href="{{url_for('static', filename='driverOffer__style.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block header %}


 {% endblock %}

{% block content %}

<div class="content">


{{form.von(class_="location-input")}} <span>-></span> {{form.nach(class_="location-input")}} {{form.submit(class_="submit-btn")}}
<div style="clear:both"></div>

  {% for driverOffer in allDriverOffers %}
  <div class="offer-container" onClick="location.href='/drive_offer_detail/{{driverOffer.id}}'">
    <div class="box1">
      {{ driverOffer.vehicle }}
    </div>
    <div class="box2">
      {{ driverOffer.kilometerpreis }}
    </div>
  </div>
  {% endfor %}


  <div class="btn" onClick="location.href='/create_drive_offer'"> Create Driver Offer</div>




</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='driverOffer__script.js') }}"></script>


{% endblock %}
