
<meta content="width=device-width, initial-scale=1" name="viewport" />

{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}

<link href="{{url_for('static', filename='driverOffer_style.css')}}" rel="stylesheet" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>

<script type=text/javascript src="{{url_for('static', filename='driverOffer__script.js') }}"></script>

<style media="screen">
  p
  {
    color: white;
  }
</style>

{% endblock %}

{% block content %}

<br>

<div>
  <h1>
      Angebote von Fahrern:
  </h1>

<br>

  <table class="Table" style="table-layout:fixed;">
      <tr>
        <th style="width:50px;"> ID </th>
        <th style="width:150px;"> Ort </th>
        <th style="width:150px;"> Fahrzeug </th>
        <th style="width:150px;"> Verfügbar ab: </th>
        <th style="width:150px;"> Verfügbar bis: </th>
        <th style="width:150px;"> Kilometerpreis </th>
        <th style="width:100px;"> Aktionen </th>
      </tr>
      {% for driverOffer in allDriverOffers %}
        <tr>
          <td>{{ driverOffer.id }}</td>
          <td>{{ driverOffer.location }}</td>
          <td>{{ driverOffer.vehicle }}</td>
          <td>{{ driverOffer.availFrom }}</td>
          <td>{{ driverOffer.availUntil }}</td>
          <td>{{ driverOffer.kmPrice }} Euro</td>
          <td>
            <a href="/deleteDriverOffer/{{driverOffer.id}}">Löschen</a>
            <br>
            <a href = "">Kontakt</a>
          </td>
        </tr>
        {% endfor %}
  </table>

  <br>
  <br>
  <p>
    Nichts passendes gefunden? Dann kannst du hier ein entsprechendes Gesuch einstellen!
  </p>
  <br>
<form style="color: black; align-items: center;" action="/driverOffer" method="POST">
  <label for "ort" class="Label"> Ort:</label><br>
  <input type="text" name="ort" id="ort" required><br>

  <label for "fahrzeug" class="Label"> Fahrzeug:</label><br>
  <input type="text" name="fahrzeug" id="fahrzeug" required><br>

  <label for "von" class="Label"> Verfügbar ab:</label><br>
  <input type="datetime-local" name="von" id="von" required><br>

  <label for "bis" class="Label"> Verfügbar bis:</label><br>
  <input type="datetime-local" name="bis" id="bis" required><br>

  <label for "preis" class="Label"> Kilometerpreis (Euro/km):</label><br>
  <input type="number" step="0.01" min=0.05 name="preis" id="preis" required><br>
  <br>
  <input type="submit" value="Angebot hinzufügen">
</form>

</div>



{% endblock %}
