
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='driver_offer_detail_style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}

 {% endblock %}

 {% block content %}

 <div class="col-sm-6 py-2 justify-content-center">
     <div class="card h-100 ">
         <div class="card-body h-100 text-dark ">

           <div class="row">

                        <div class="col-5">
  <p>Username </p>
  <p>Ort </p>
  <p>Fahrzeug </p>
  <p>Verfügbar ab </p>
  <p>Verfügbar bis </p>
  <p>Kilometerpreis </p>
  <p>Umkreis in km </p>
  <p>erstellt am </p>
  <p>Bemerkungen </p>

  </div>
<div class="col-5">

  <p>{{ drive_offer.get_creator_name() }}</p
  <p>{{ drive_offer.get_location() }}</p>
  <p>{{ drive_offer.get_vehicle() }}</p>
  <p>{{ drive_offer.get_start_time() }}</p>
  <p>{{ drive_offer.get_end_time() }}</p>
  <p>{{ drive_offer.get_kilometerpreis() }}</p>
  <p>{{ drive_offer.get_radius() }}</p>
  <p>{{ drive_offer.get_created_at() }}</p>
  <p>{{ drive_offer.get_text() }}</p>
</div>


  </div>


  <div class="btn btn-outline-danger" onclick="history.back()">
  Back
  </div>

  <div class="btn btn-outline-success" onclick="location.href='/accept_drive_offer/{{ drive_offer.get_id() }}'">
  Accept
  </div>

  <div class="btn btn-outline-warning" onclick="location.href='/chat/{{ drive_offer.get_creator_id() }}'">
  Contact Company
  </div>
  </div>
</div>
{% endblock %}
