
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='home__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

  <h1>Project Knock Knock</h1>
  <br>

  <h2>Warum?</h2>
    <p>
      Blablablablablablabla
    </p>
  <br>

  <h2>Wie geht das?</h2>
    <p>
      Blablablablablablabla
    </p>
  <br>

  <image src="{{ url_for('static', filename='img/homeImage.png') }}"
          alt="Das hier platzierte Bild konnte leider nicht auf Ihrem Gerät dargestellt werden."
          style="width:40vw;height:40vw">
  <br>

  <h2>Teilnahmemöglichkeiten:</h2>
    <p>
      Blablablablablablabla
    </p>  <br>

  <h2>Noch Fragen...</h2>
    <p>
      Blablablablablablabla
    </p>

</div>

{% endblock %}
