
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='home__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}

 {% endblock %}

 {% block content %}
 {% from "flask_user/_macros.html" import render_field, render_submit_field %}



      <div id="container" class="row flex-fill vh-100 py-3" >
          <div class="col-lg-6 py-2 " >
            <div class="card m-3 p-3 ">

              <h2>Why?</h2>
                <p>
                  Every day a huge amount of people, packages, materials, food etc. is moved around. Unfortuantly often the involved people are not communicating
                  to coordinate accordingly and efficiently. This creates an insufficient possibility to react to fluctuations in demand on both ends. To solve this
                  issue we developed "KnockKnock". The application provides a possibility to share resources and there reduces redundant rides.

                </p>

                <br>
                <br>


    <button type="button" class="btn btn-outline-primary mb-3" onClick="location.href='/driverOffer'" name="button"> Search Ride!</button>
      <button type="button" class="btn btn-outline-danger" onClick="location.href='/comOffer'" name="button"> Search Driver!</button>

    <p class="my-3">Not yet convinced? Here you can find more information about our service!</p>

    <button type="button" class="btn btn-info" name="button"> Learn more! </button>

  </div>
  </div>


  <div class="col-lg-6 vh-75 py-2">
    <div class="card h-75  m-3 p-3 ">

      <div class="card-body">



      <h1>{%trans%}Register{%endtrans%}</h1>

      <form action="/user/register" method="POST" novalidate formnovalidate class="form" role="form">
          {{ form.hidden_tag() }}

          {# Username or Email #}
          {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
          <div class="form-group {% if field.errors %}has-error{% endif %}">
              {# Label on left, "Already registered? Sign in." on right #}
              <div class="row">
                  <div class="col-xs-6">
                      <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                  </div>

              </div>
              {{ field(class_='form-control mb-3', tabindex=21) }}
              {% if field.errors %}
                  {% for e in field.errors %}
                      <p class="help-block">{{ e }}</p>
                  {% endfor %}
              {% endif %}
          </div>

          {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
              {{ render_field(form.email, tabindex=220,  class_='mb-3') }}
          {% endif %}

          {{ render_field(form.password, tabindex=230, class_='mb-3') }}

          {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
              {{ render_field(form.retype_password, tabindex=240, class_='mb-3') }}
          {% endif %}


          {{ render_submit_field(form.submit, tabindex=280, class_="btn btn-outline-success") }}

          <div class="col-xs-6 text-right">
              {% if user_manager.USER_ENABLE_REGISTER %}
                  <a href="{{ url_for('user.login') }}" tabindex='290'>
                      {%trans%}Already registered? Sign in.{%endtrans%}</a>
              {% endif %}
          </div>

      </form>

      <br>
            </div>
      <!-- - Info - Symbol - Start --->
        <a class="btn btn-danger col-2" href="#popup1">
          <i class="bi bi-question-circle">Help</i></a>

          <div id="popup1" class="overlay" style="z-index: 1">
            <div class="popup">
              <h2>Help</h2>
              <a class="close" href="#">&times;</a>
              <div class="contencd t" style="color: black;">
                On the lef thand side of this website you can read what "Project Knock Knock is all about".
                If you are interested and want to participate, you can either directly pick your desired role
                below or start with creating a profile on the right.
              </div>
              </div>
            </div>

          <!--- Info - Symbol - Ende - -->
      <br>

            </div>

      </div>

      </div>





{% endblock %}
