
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='home__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}

 {% endblock %}

 {% block content %}
 {% from "flask_user/_macros.html" import render_field, render_submit_field %}



    <div class="container text-center">

  <div class="row">

    <div class="col-sm-6 py-2 justify-content-center">
        <div class="card h-80">
            <div class="card-body h-100 text-dark ">

              <h2>Warum?</h2>
                <p>
                  Jeden Tag wird eine immense Anzahl an Personen, Paketen, Materialien, Essen, o.Ä. von diversen Liefer- und Transportdiensten befördert.
                  Da diese jedoch kaum zusammenarbeiten folgen Ineffizienzen bei der Auslastung, der Reaktionsfähigkeit auf Bedarfsschwankungen, und viele weitere.
                  Diese Problematik löst Knock Knock, da hier Ressourcen geteilt und mehrere redundante/ähnliche Fahrten gebündelt werden können!
                </p>

                <br>
                <br>


    <button type="button" class="btn btn-outline-primary" name="button"> Ich möchte Fahren!</button>
      <button type="button" class="btn btn-outline-danger" name="button"> Ich möchte ein Fahrangebot erstellen!</button>

  </div>
  </div>
  </div>
  <div  id="register" class="col-sm-6 py-2 justify-content-center">
      <div id="register" class="card h-80">
          <div id="register" class="card-body h-100 text-dark ">

            <h1>{%trans%}Register{%endtrans%}</h1>

            <form action="/user/register" method="POST" novalidate formnovalidate class="form" role="form">
                {{ form.hidden_tag() }}

                {# Username or Email #}
                {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {# Label on left, "Already registered? Sign in." on right #}
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
                        </div>
                        <div class="col-xs-6 text-right">
                            {% if user_manager.USER_ENABLE_REGISTER %}
                                <a href="{{ url_for('user.login') }}" tabindex='290'>
                                    {%trans%}Already registered? Sign in.{%endtrans%}</a>
                            {% endif %}
                        </div>
                    </div>
                    {{ field(class_='form-control', tabindex=210) }}
                    {% if field.errors %}
                        {% for e in field.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

                {% if user_manager.USER_ENABLE_EMAIL and user_manager.USER_ENABLE_USERNAME %}
                    {{ render_field(form.email, tabindex=220) }}
                {% endif %}

                {{ render_field(form.password, tabindex=230) }}

                {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
                    {{ render_field(form.retype_password, tabindex=240) }}
                {% endif %}

                {{ render_submit_field(form.submit, tabindex=280) }}
            </form>


      </div>
      </div>
      </div>
  </div>

  <br>
  <!--- Info - Symbol - Start --->

   <div class="box">
    <a class="button" href="#popup1">
      <i class="fa fa-question-circle" style="font-size: 1em;color:red"></i></a>
  </div>

  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Help</h2>
      <a class="close" href="#">&times;</a>
      <div class="content" style="color: black;">
        On the lef thand side of this website you can read what "Project Knock Knock is all about".
        If you are interested and want to participate, you can either directly pick your desired role
        below or start with creating a profile on the right.
      </div>
    </div>
  </div>

  <!--- Info - Symbol - Ende --->
  <br>

    </div>




{% endblock %}
