{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}

<link href="{{url_for('static', filename='impressum__style.css')}}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

<div class="content">

    <h2>Impressum und Allgemeine Geschäftsbedingungen</h2>
    <br>
    <h3>Angaben gem. §5 TMG:</h3>
        <p>
            Geschäftsführer: Max Mustermann
            <br>
            Musterstraße 123
            <br>
            20095 Hamburg
        </p>
    <br>
    <br>

    <h2>Umsatzsteuer-ID</h2>
        <p>
        Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:
        <br>
        DE XXX XXX XXX
        </p>
    <br>
    <br>
    <h2>Haftungsausschluss – Disclaimer:</h2>
        <p>
            Alle Inhalte unseres Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt.
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
            Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
            oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        </p>
        <p>
            Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten Rechtsverletzung möglich.
            Bei Bekanntwerden von den o.g. Rechtsverletzungen werden wir diese Inhalte unverzüglich entfernen.
        </p>
    <h2>Urheberrecht</h2>
        <p>
            Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf) .
            Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in ideeller und materieller Sicht des Urhebers außerhalb der
            Grenzen des Urheberrechtes bedürfen der vorherigen schriftlichen Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf ).
            Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt.
            Sind die Inhalte auf unserer Webseite nicht von uns erstellt wurden, sind die Urheberrechte Dritter zu beachten.
            Die Inhalte Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
            Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte unverzüglich entfernen.
            <br>
            Dieses Impressum wurde freundlicherweise von jurarat.de zur Verfügung gestellt.
        </p>
    <br>
    <br>
    <h2>Allgemeine Geschäftsbedingungen</h2>
    <br>
    <h3>1. Geltungsbereich</h3>
        <p>
            Diese Bedingungen regeln Ihren Zugang und Nutzung von Project KnockKnock. Sie müssen diese Bedingungen lesen und ihnen zustimmen,
            bevor Sie Project KnockKnock nutzen wollen. Mit Ihrer Zustimmung und der Bestätigung Ihrer Registrierung, wird eine vertragliche Beziehung
            zwischen Ihnen und Projeckt KnockKnock begründet. Sollten Sie nicht zustimmen, erhalten Sie keinen Zugang zu Project KnockKnock und können
            diese daher nicht nutzen.
            <br>
            Project KnockKnock handelt als Vermittler für Drittanbieter und deren Leistungen.
        </p>
    <h3>2. Webseiten-Dienstleistungen</h3>
        <p>
            Zugang und Nutzung der Projeckt KnockKnock Webseiten, die es Ihnen ermöglichen die Drittleistungen anzufordern und
            in ANspruch zu nehmen; und
            <br>
            Dienstleistungen betreffend der Durchführung von Zahlungen (inkl. Erstellung und Belegen im Namen der Drittanbieter).
            Diese ermöglichen es, Beträge bei Ihnen einzuziehen und auf die Bankkonten der Drittanbieter weiterzuleiten.
            <br>
            Diese Bedingungen gelten bei Nutzung der Webseiten-Dienstleistungen in Deutschland. Zugang und Nutzung in einem anderen Land sind
            nicht möglich.
            <br>
            Dort wo verfügbar, können Sie die Drittleistungen unter Nutzung der Projeckt KnockKnock Webseiten anfordern und erhalten.
        </p>
    <h3>3. Drittleistungen</h3>
        <p>
            Project KnockKnock handelt als nach außen erkennbarer und benannter Vermittler zwischen Ihnen und Drittanbietern.
            Project KnockKnock erbringt die angebotenen Drittleistungen nicht selbst. Alle Drittanbieter sind unabhängige dritte Aufrtragnehmer, Unternehmer
            oder sonstige, die nicht von Project KnockKnock angestellt sind.
            <br>
            <br>
            Wenn Sie eingeloggt sind, erhalten Sie auf Project KnockKnocks Webseiten Informationen über die Drittleistungen, bevor Sie sich entscheiden,
            eine Anfrage abzugeben.
            <br>
            <br>
            Anfragen können von Drittanbietern angenommen oder abgelehnt werden. Drittanbieter können frei entscheiden. Die Annahme einer Anfrage
            wird über die Project KnockKnock Webseite mitgeteilt und begründet einen direkten Vertrag zwischen Ihnen und dem Drittanbieter.
            <br>
            <br>
            Nach angefragten Drittleistungen von Drittanbietern, können Sie gebeten werden, diese zu bewerten. Auch die Drittanbieter können
            Sie bewerten. Bewertungen über Sie können von den Drittanbietern auf Project KnockKnock Webseiten eingesehen werden und
            entscheidungserheblich dafür sein, ob Drittanbieter Drittleistungen für Sie erbringen oder nicht.
            <br>
            <br>
            Für sämtliche aus der Erbringung von Drittleistungen entstehenden Verpflichtungen, ist der Drittanbieter verantwortlich.
        </p>
    <h3>4. Registrierung und Nutzung der Webseiten-Dienstleistungen</h3>
        <p>
            Project KnockKnocks Webseiten können auf den meisten modernen Mobilfunkgeräten, Tablets oder Computer abgerufen werden, wenn
            diese mit dem Internet verbunden sind.
            <br>
            <br>
            Für den Internetzugang sowie die Voraussetzungen für die Nutzung der Webseiten, sind Sie selbst verantwortlich, ebenso für sämtliche
            Kosten und Gebühren Ihres Providers, einschließlich des Datenverbrauchs bei Nutzung von Mobilgeräten. Sie sind auch für die
            kompatiblen Geräte verantworlich, einschließlich der Software- und Hardwareupdates.
            <br>
            <br>
            Zur Nutzung der Webseiten-Dienstleistungen müssen Sie sich bei Project KnockKnock registrieren und einen Account erstellen.
            Zum Zeitpunkt der Registrierung müssen Sie mindestens achtzehn (18) Jahre alt sein.
            <br>
            <br>
            Sie müssen uns bestimmte persönliche Informationen mitteilen, um sich bei uns registrieren zu können. Zur Nutzung der Webseiten-Dienstleistungen,
            müssen Sie mindestens eine gültige Zahlungsmethode angeben. Bestimmte Drittleistungen können ergänzende Informationen erforderlich machen.
            <br>
            <br>
            Bei konkreten Annahmen, dass Sie gegen unsere Bedingungen verstoßen oder Ihre Pflichten verletzen, kann Ihre Nutzung der
            Webseiten-Dienstleistungen vorübergehend oder dauerhaft eingeschränkt bzw. gesperrt werden (beispielsweise bei Betrugsvorwürfen). Selbiges gilt auch, wenn Sie
            Dienstleistungen in Anspruch nehmen, die verusachten Kosten in nicht unerheblicher Höhe mit Ihren Zahlungsmethoden aber nicht abgerechnet werden können.
            Sobald die Gründe für die Einschränkungen oder Sperre wegfallen, werden diese entsprechend wieder aufgehoben.
        </p>
    <h3>5. Ihre Pflichten</h3>
        <p>
            Bei der Nutzung der Webseiten-Dienstleistung dürfen Sie nicht gegen anwendbare Gesetze oder andere Rechtsvorschriften verstoßen.
            Sie dürfen die Dienstleistungen nur für rechtmäßige Zwecke verwenden. Sie dürfen diese Dienstleistungen nicht nutzen, ums uns
            oder Drittanbieter zu schädigen.
            <br>
            <br>
            Sie müssen korrekte und vollständige Informationen bei Anlegen eines Accounts angeben.
            <br>
            <br>
            Ihr persönlicher Account ist nur für Sie gedacht. Eine Weitergabe an dritte ist untersagt. Er kann nicht geteilt werden, es sei
            denn dies wird ausdrücklich und in Textform von uns gestattet. Ihre Login-Angaben müssen Sie zu jeder Zeit vertraulich halten.
            Bei Verdacht, dass jemand anderes Ihre Login-Angaben kennt, müssen Sie uns dies unverzüglich mitteilen.
            <br>
            <br>
            Sie sind für sämtliche Kosten und Gebühren verantwortlichm, die durch die Nutzung von Drittleistungen entstehen.
            <br>
            <br>
            Bei der Nutzung dürfen Sie nicht Andere belästigen, deren Rechte beeinträchtigen oder Schäden and deren Eigentum verursachen.
        </p>
    <h3>6. Kosten und Zahlungen</h3>
        <p>
            Die Nutzung der Webseiten ist kostenfrei. Sollten wir jedoch eine Nutzungsgebühr einführen, werden Sie in diesem Fall in Textform
            informiert. Sie haben dann die Gelegenheit, das Vertragsverhältnis zu kündigen. Bei Kündigung werden Sie keinen Zugang zu den Webseiten-Dienstleistungen mehr haben.
            <br>
            <br>
            Sie erklären sich damit einverstande, dass Sie die angezeigten Kosten bei Annahme einer Anfrage zahlen werden.
            <br>
            <br>
            Wenn Drittleistungen, aufgrund Ihres Handelns, nicht erbracht werden können, sind die für die jeweiligen Aufträge Kosten ohne Abzug zu zahlen.
            <br>
            <br>
            Die Preise können sich, in Bezug auf zukünftige Entwicklungen, ändern. Die Preise enthalten kein Trinkgeld. Sie lönnen dies
            persönlich überreichen.
            <br>
            <br>
            Sofern nicht anders vereinbart, müssen Sie sämtliche Kosten sofort nach Abgabe der Anfrage begleichen. Sie erhalten im Anschluss
            eine Nachricht von uns mit der Kosten-und Auftragsübersicht. Wenn die Zahlung nicht getätigt werden kann, behalten wir uns das Recht vor,
            in angemessenem Abstand weitere Versuche zur Einziehung des Betrags vorzunehmen.
            <br>
            <br>
            Die Kosten beinhalten alle anwendbaren Steuern, inklusive Umsatzsteuer.
        </p>
    <h3>7. Haftung und Haftungsbegrenzung</h3>
        <p>
            Als Vermittler sind wir für die Drittleistungen nicht verantwortlich. Wir sind nicht verantwortlich für Schäden oder sonstige Verluste.
            Project KnockKnock übernimmt keinerlei Garantie und/oder Gewährleistung hinsichtlich Qualität, Eignung, Sicherheit sowie Pünktlichkeit von Drittanbietern.

        </p>
    <h3>8. Kündigung</h3>
        <p>
            Sie können jederzeit diese Bedingungen kündigen, in dem Sie Ihren Account schließen.
            <br>
            <br>
            Wir können Ihren Zugang mit sofortiger Wirkung aus wichtigem Grund kündigen, wenn Sie gegen unsere Vereinbarungen verstoßen
            und diesen Verstoß nicht innerhalb einer angemessenen Frist beheben (eine Fristsetzung ist in den Fällen von § 314 Abs. 2 S. 2 und 3 BGB entbehrlich).
            <br>
            <br>
            Wir behalten uns das Recht vor, den Vertrag über die Nutzung jederzeit unter Einhaltung einer Frist von 7 Tagen in Textform ordentlich zu kündigen
            oder insgesamt dauerhaft einzustellen oder zeitweise zu unterbrechen.
            <br>
            <br>
            Im Falle der Beendigung, müssen Sie sämtliche ausstehenden, geschuldeten Kosten unverzüglich zahlen. Diese Ansprüche bestehen nach Beendigung
            fort und wir behalten uns sämtliche Rechte vor, diese Zahlungen nach Beendigung einzutreiben.
        </p>
    <h2>Mit der Annahme diesen genannten Bedingungen erklären Sie sich mit diesen einverstanden und halten diese ein.</h2>


</div>


{% endblock %}