
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='my_com_offers__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}

 {% endblock %}

 {% block content %}

<div class="content">

    {% for offer in offers %}

  <div class="com-offer-container">


  <div class="list-entry">
    <b>Start</b> <br>
  {{ offer.get_start() }}
  </div>

  <div class="list-entry">
    <br>
    <b>-></b>
  </div>

  <div class="list-entry">
    <b>Ziel</b> <br>
     {{ offer.get_destination() }}
  </div>




<div class="list-entry">
  <b>verfügbar von</b><br>
  {{ offer.get_formatted_start_date() }}
  {{ offer.get_formatted_start_time() }}
</div>

<div class="list-entry">
  <b>verfügbar bis</b><br>
  {{ offer.get_formatted_end_date() }}
  {{ offer.get_formatted_end_time() }}
</div>


  <div class="list-entry">
    <b>€/ km</b><br>
    {{ offer.get_kilometerpreis() }}
  </div>

  <div class="delete-btn" onClick="location.href='/deleteComOffer/{{offer.get_id()}}'">x</div>

    <div style="clear:both">
  </div>


</div>

   <!--
    {{ offer.get_end_time() }}
    {{ offer.get_created_at() }}
    {{ offer.get_kilometerpreis() }} -->

  {% endfor %}

  </div>


{% endblock %}
