
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='my_drive_offers__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

  {% for offer in offers %}

  <div class="drive-offer-container">
    <div>Ort: {{ offer.get_location() }}</div>
    <div>Radius: {{ offer.get_radius() }}</div>
      <div>erstellt am: {{ offer.get_created_at() }}</div>
      <div>verfügbar von: {{ offer.get_start_time() }}</div>
      <div>verfügbar bis: {{ offer.get_end_time() }}</div>
    <div>Preis: {{ offer.get_kilometerpreis() }}</div>
    <a href="/delete_driver_offer/{{offer.get_id()}}"> Löschen</a>
  </div>
  <br>
  {% endfor %}

  </div>


{% endblock %}
