
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='my_drive_offers__style.css')}}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}


 {% endblock %}

 {% block content %}

<div class="content">

  <h3>Akzeptierte Angebote</h3>

  {% for offer in offers %}

  {% if offer.is_accepted() %}
  <div class="drive-offer-container">

    <div class="list-entry">
        <b>Location</b> <br>
        {{ offer.get_location() }}
    </div>

    <div class="list-entry">
        <b>Cost</b> <br>
        {{ offer.get_kilometerpreis() }}
    </div>
    <!-- TODO: remove offer when its end time is reached -->
    <div class="list-entry">
      <b>accepted by</b> <br>
      {{ offer.get_accepted_by_username() }}
    </div>

    <div class="delete-btn" onClick="location.href='/delete_driver_offer/{{ offer.get_id() }}'">x</div>
    <div class="delete-btn" onClick="location.href='/chat/{{ offer.get_accepted_by() }}'"> Chat</div>
    <div style="clear:both"></div>
  </div>
  <br>




  <!-- {{ offer.get_radius() }}
  {{ offer.get_formatted_created_at_time() }}
  {{ offer.get_formatted_created_at_date() }}
  {{ offer.get_formatted_start_time() }}
  {{ offer.get_formatted_start_date() }}
  {{ offer.get_formatted_end_time() }}
  {{ offer.get_formatted_end_date() }} -->

  {% endif %}
  {% endfor %}

  <h3>Offene Angebote</h3>


  {% for offer in offers %}

  {% if  not offer.is_accepted() %}

  <!-- <div class="drive-offer-container">
    <div>Ort:</div>
    <div>Radius: </div>
      <div>erstellt am: </div>
      <div>verfügbar von: </div>
      <div>verfügbar bis: </div>
    <div>Preis: </div>
    <a href="/delete_driver_offer/{{offer.get_id()}}"> Löschen</a>
  </div> -->

<!--
  <div class="offer-container">
    {{ offer.get_location() }}
    {{ offer.get_radius() }}
    {{ offer.get_created_at() }}
    {{ offer.get_start_time() }}
    {{ offer.get_end_time() }}
    {{ offer.get_kilometerpreis() }}
  </div> -->


  <div class="drive-offer-container">

    <div class="list-entry">
        <b>Location</b> <br>
        {{ offer.get_location() }}
    </div>

    <div class="list-entry">
        <b>Cost</b> <br>
        {{ offer.get_kilometerpreis() }} €
    </div>
    <div class="delete-btn" onClick="location.href='/delete_driver_offer/{{ offer.get_id() }}'">x</div>
    <div style="clear:both"></div>
    <!-- TODO: remove offer when its end time is reached -->
  </div>

  <br>
  {% endif %}
  {% endfor %}

  </div>


{% endblock %}
