
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='profil__style.css')}}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
{% endblock %}
<!-- Googleapi for Icons -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% block header %}

 {% endblock %}

 {% block content %}

  <div class="card text-center text-dark">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
          <button  class="tab nav-link" onclick="openTab('main-profile-container')">Main</button>
      </li>
      <li class="nav-item">
          <button  class="tab nav-link" onclick="openTab('my-offers-container')">My Offers</button>
      </li>
      <li class="nav-item">
          <button  class="tab nav-link" onclick="openTab('my-orders-container')">My Orders</button>
      </li>
      <li class="nav-item">
          <button  class="tab nav-link" onclick="openTab('work-time-container')">Documents</button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>


    <!-- Main Profile -->

    <div id="main-profile-container" class="profile">
      <br>
        <p>Username: {{ profile.get_username() }}</p>

          {% if profile.get_rating().get_rate_count() > 0 %}
          Rating: {{ profile.get_rating().calculate_average() }}
          {% else %}
          Rating: N/V
          {% endif %}
          ({{ profile.get_rating().get_rate_count() }})


        <p>Ongoing Accepted Offers</p>



      <div class="row">



      <div class="col-6">

        <h2>Drive Offers</h2>

      <table id="drive-offer-table" class="table table-light">
        <thead thead-dark>
          <tr>
            <th scope="col">Route</th>
            <th scope="col">Time</th>
            <th scope="col">Price</th>
            <th scope="col"> Aktion</th>
          </tr>
      </thead>

        <tbody>
  {% for offer in profile.get_accepted_drive_offers() %}
      <tr>

        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_start() }} <br> {{ offer.get_destination() }} </td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">{{ offer.get_start_time() }}<br> {{ offer.get_end_time() }} </td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_kilometerpreis() }} €</td>
        <td class="delete-btn"  onClick="location.href='/rate_offer/1/{{ offer.get_id() }}'" </td>
      </tr>
      {% endfor %}
        </tbody>
      </table>


      </div>

      <div class="col-6">

        <h2>Com Offers</h2>

      <table id="drive-offer-table" class="table table-light">
        <thead thead-dark>
          <tr>
            <th scope="col">Route</th>
            <th scope="col">Time</th>
            <th scope="col">Price</th>
            <th scope="col"> Aktion</th>
          </tr>
      </thead>

        <tbody>
  {% for offer in profile.get_accepted_com_offers() %}
      <tr >
        <td onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">  {{ offer.get_start() }} <br> {{ offer.get_destination() }} </td>
        <td onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">{{ offer.get_start_time() }}<br> {{ offer.get_end_time() }} </td>
        <td onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">  {{ offer.get_kilometerpreis() }} €</td>
        <td class="delete-btn"  onClick="location.href='/rate_offer/1/{{ offer.get_id() }}'" </td>
      </tr>
      {% endfor %}
        </tbody>
      </table>


    </div>
          </div>

    </div>

      </div>

      <!-- Ende Main Profile -->
    <!-- Documents former WORK TIME SETTINGS -->

    <div id="work-time-container" class="profile" style="display:none">

      <!-- <br>
          <div class="">

        {% for work_time in profile.get_working_times() %}
          <div class="work-times">
            {{ work_time.weekday_to_string_short() }}
            <br>
            {{ work_time.get_start_time() }} bis {{ work_time.get_end_time() }}
            <br>
          </div>
        {% endfor %}
            </div> -->

            <br>

            <label>To complete your profile, please upload your documents</label>
            <form  enctype="multipart/form-data" >

                  <input type="file"  id="file" name="file" multiple style="clear: both">
                  <input type= "submit" class="submit-btn">
            </form>


    </div>


    <!-- Ende Work Time tab -->


    <!-- Start My Offers Tab -->


    <div id="my-offers-container" class="profile" style="display:none">

      <div class="row">

      <div class="col-6">

        <h2>Accepted Offers</h2>

      <table id="drive-offer-table" class="table table-light">
        <thead thead-dark>
          <tr>
            <th scope="col">Route</th>
            <th scope="col">Time</th>
            <th scope="col">Price</th>
            <th scope="col"> Aktion</th>
          </tr>
      </thead>

        <tbody>
      {% for offer in profile.get_offers() %}
      {% if offer.is_accepted() %}
      <tr'">
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_vehicle() }} </td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_kilometerpreis() }} €</td>
        <td class="delete-btn"  onClick="location.href='/rate_offer/1/{{ offer.get_id() }}'" </td>
      </tr>

      {% endif %}
      {% endfor %}
        </tbody>
      </table>


      </div>

      <div class="col-6">

        <h2>Open Offers</h2>

      <table id="drive-offer-table" class="table table-light">
        <thead thead-dark>
          <tr>
            <th scope="col">Route</th>
            <th scope="col">Time</th>
            <th scope="col"> Aktion</th>
          </tr>
      </thead>

        <tbody>
          {% for offer in profile.get_offers() %}
          {% if not offer.is_accepted() %}
      <tr >
        <td onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">  {{ offer.get_vehicle() }} </td>
        <td onClick="location.href='/com_offer_detail/{{offer.get_id()}}'">{{ offer.get_kilometerpreis() }} </td>
        <td <button class="btn btn-outline-danger"  onClick="location.href='/rate_offer/1/{{ offer.get_id() }}'"> Delete </button> </td>
      </tr>
      {% endif %}
      {% endfor %}
        </tbody>
      </table>


      </div>
      </div>

    </div>


    <!-- Ende My Offers Tab -->

    <!-- My Orders Tab -->

    <div id="my-orders-container" class="profile" style="display:none">



      <div class="row">

      <div class="col-6">

        <h2>Accepted Offers</h2>

      <table id="drive-offer-table" class="table table-light">
        <thead thead-dark>
          <tr>
            <th scope="col">from</th>
            <th scope="col">to</th>
            <th scope="col">start time</th>
            <th scope="col">end time</th>
            <th scope="col"> €/km</th>
          </tr>
      </thead>

        <tbody>
  {% for offer in profile.get_orders() %}
      <tr'">
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_start() }} </td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_destination() }}</td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_formatted_start_date() }} {{offer.get_formatted_start_time()}}</td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_formatted_end_date() }} {{offer.get_formatted_end_time()}}</td>
        <td onClick="location.href='/drive_offer_detail/{{offer.get_id()}}'">  {{ offer.get_kilometerpreis() }} </td>
      </tr>
      {% endfor %}
        </tbody>
      </table>

      </div>
    </div>  <!--end row-->

    </div>  <!--end my-orders-->

    <!-- Tab to test Things out -->

    <!-- <div id="test-container" class="profile" style="display:none">
      <div id="map"></div>
    </div> -->

    </div>  <!--end card -->

    <br>
    <!--- Info - Symbol - Start --->

     <div class="box">
      <a class="button" href="#popup1">
        <i class="fa fa-question-circle" style="font-size: 1em;color:red"></i></a>
    </div>

    <div id="popup1" class="overlay">
      <div class="popup">
        <h2>Help</h2>
        <a class="close" href="#">&times;</a>
        <div class="content" style="color: black;">
          This webpage is divided in 4 parts, which you can select at the top: <br />
          Main: <br />
          Overview of your profile. The rating is calculated by the avergae reviews of previous contracts. <br />
          My offers: <br />
          Your currently accepted offers, as well as your open offers. <br />
          My orders: <br />
          ?? <br />
          Documents: <br />
          The upload area for user-documents. Currently this only functions as a dummy.
        </div>
        </div>
      </div>
    </div>

    <!--- Info - Symbol - Ende --->
    <br>




  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&v=3.exp&sensor=false&libraries=places"></script>

<script type=text/javascript src="{{url_for('static', filename='profil__script.js') }}"></script>



{% endblock %}
