
{% extends 'flask_user/_public_base.html' %}

{% block extra_css %}
     {{ fontawesome_html() }}
      <link href="{{url_for('static', filename='profil__style.css')}}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
{% endblock %}
<!-- Googleapi for Icons -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% block header %}

 {% endblock %}

 {% block content %}

<div class="content">

  <div class= "tabs">
   <button id="main-profile-container-tab" class="tab" onclick="openTab('main-profile-container')">Main</button>
   <button id="my-offers-container-tab" class="tab" onclick="openTab('my-offers-container')">My Offers</button>
   <button id="my-orders-container-tab" class="tab" onclick="openTab('my-orders-container')">My Orders</button>

   <button id="work-time-container-tab" class="tab" onclick="openTab('work-time-container')">Documents</button>



<!-- Main Profile -->

<div id="main-profile-container" class="profile">
  <br>
    <p>Username: {{ profile.get_username() }}</p>

      {% if profile.get_rating().get_rate_count() > 0 %}
      Rating: {{ profile.get_rating().calculate_average() }}
      {% else %}
      Rating: N/V
      {% endif %}
      ({{ profile.get_rating().get_rate_count() }})

      <br><br><br>

    <p>You have accepted the following Offers which are still active</p>


  <div class="scroll-container">


  {% if profile.get_accepted_drive_offers() | length == 0 %}
  You you have no accepted any DriveOffers currently
  {% endif %}

  {% for offer in profile.get_accepted_drive_offers() %}
  <div class="offer-container">
    <div class="location-container">
      {{ offer.get_location() }}
    </div>
    <div class="delete-btn" onClick="location.href='/rate_offer/0/{{ offer.get_id()}}'" >
    <i class="material-icons">Check</i></div>
    <div style="clear:both">
    </div>

  </div>
  {% endfor %}
  <br>

  {% if profile.get_accepted_com_offers() | length == 0 %}
  You you have no accepted any ComOffers currently
  {% endif %}

  {% for offer in profile.get_accepted_com_offers() %}
  <div class="offer-container">
    <div class="location-container">
      {{ offer.get_start() }} <div class="material-icons arrow-container">arrow_forwards</div> {{ offer.get_destination()}} </div>
      <!-- TODO: Change name of button to check as completed -->
    <div class="delete-btn"  onClick="location.href='/rate_offer/1/{{ offer.get_id() }}'" >
    <i class="material-icons">check</i></div>
    <div style="clear:both">
    </div>
  </div>
  {% endfor %}
</div>

  </div>

  <!-- Ende Main Profile -->


<!-- Documents former WORK TIME SETTINGS -->


<div id="work-time-container" class="profile" style="display:none">

  <!-- <br>
      <div class="">

    {% for work_time in profile.get_working_times() %}
      <div class="work-times">
        {{ work_time.weekday_to_string_short() }}
        <br>
        {{ work_time.get_start_time() }} bis {{ work_time.get_end_time() }}
        <br>
      </div>
    {% endfor %}
        </div> -->

        <br>

        <label>To complete your profile, please upload your documents</label>

        <br>

        <form  enctype="multipart/form-data" >

              <input type="file"  id="file" name="file" multiple style="clear: both">
              <input type= "submit" class="submit-btn">
        </form>

        <br>
        <br>
        <br>

        <!--- Info - Symbol - Start --->

         <div class="box">
          <a class="button" href="#popup1">
            <i class="fa fa-question-circle" style="font-size: 1em;color:red"></i></a>
        </div>

        <div id="popup1" class="overlay">
          <div class="popup">
            <h2>Hilfe</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
              Hier werden Sie in Zukunft Dokumente, wie den Führerschein zur Prüfung hochladen können.
              Zurzeit ist diese Funktionalität jedoch noch nicht hinterlegt und entsprechende Buttons
              auf dieser Seite dementsprechend nur Dummys.
            </div>
          </div>
        </div>

        <!--- Info - Symbol - Ende --->

</div>


<!-- Ende Work Time tab -->


<!-- Start My Offers Tab -->


<div id="my-offers-container" class="profile" style="display:none">

      <div class="scroll-container">
    <h3>Akzeptierte Angebote</h3>



  {% for offer in profile.get_offers() %}
  {% if offer.is_accepted() %}
  <div class="drive-offer-container">

    <div class="list-entry">
        <b>Location</b> <br>
        {{ offer.get_location() }}
    </div>

    <div class="list-entry">
        <b>Cost</b> <br>
        {{ offer.get_kilometerpreis() }}
    </div>
    <!-- TODO: remove offer when its end time is reached -->
    <div class="list-entry">
      <b>accepted by</b> <br>
      {{ offer.get_accepted_by_name() }}
    </div>

    <div class="delete-btn" onClick="location.href='/delete_driver_offer/{{ offer.get_id() }}'">
    <i class="material-icons">delete</i></div>
    <div style="clear:both">
    </div>
    <div class="delete-btn" onClick="location.href='/chat/{{ offer.get_accepted_by_id() }}'"> Chat</div>
    <div style="clear:both"></div>
  </div>
  <br>

  {% endif %}
  {% endfor %}

  <h3>Offene Angebote</h3>
  {% for offer in profile.get_offers() %}
  {% if not offer.is_accepted() %}

  <div class="drive-offer-container">

    <div class="list-entry">
        <b>Location</b> <br>
        {{ offer.get_location() }}
    </div>

    <div class="list-entry">
        <b>Cost</b> <br>
        {{ offer.get_kilometerpreis() }} €
    </div>
    <div class="delete-btn" onClick="location.href='/delete_driver_offer/{{ offer.get_id() }}'">
    <i class="material-icons">delete</i></div>
    <div style="clear:both">

    <!-- TODO: remove offer when its end time is reached -->
  </div>
    <br>
</div>

  {% endif %}
  {% endfor %}


</div>


<!-- Ende My Offers Tab -->


<!-- My Orders Tab -->

<div id="my-orders-container" class="profile" style="display:none">

  <div class="scroll-container">
  {% for offer in profile.get_orders() %}

<div class="com-offer-container">

<div class="list-entry">
  <b>Start</b> <br>
{{ offer.get_start() }}
</div>

<div class="list-entry">
  <br>
  <b>-></b>
</div>

<div class="list-entry">
  <b>Ziel</b> <br>
   {{ offer.get_destination() }}
</div>

<div class="list-entry">
<b>verfügbar von</b><br>
{{ offer.get_formatted_start_date() }}
{{ offer.get_formatted_start_time() }}
</div>

<div class="list-entry">
<b>verfügbar bis</b><br>
{{ offer.get_formatted_end_date() }}
{{ offer.get_formatted_end_time() }}
</div>

<div class="list-entry">
  <b>€/ km</b><br>
  {{ offer.get_kilometerpreis() }}
</div>

<div class="delete-btn"  onClick="location.href='/deleteComOffer/{{ offer.get_id() }}'">
<i class="material-icons">delete</i></div>
<div style="clear:both">
</div>

</div>

 <!--
  {{ offer.get_end_time() }}
  {{ offer.get_created_at() }}
  {{ offer.get_kilometerpreis() }} -->

{% endfor %}

</div>

</div>

<!-- Ende My Orders Tab -->


<!-- Tab to test Things out -->

<!-- <div id="test-container" class="profile" style="display:none">
  <div id="map"></div>
</div> -->


  </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&v=3.exp&sensor=false&libraries=places"></script>

<script type=text/javascript src="{{url_for('static', filename='profil__script.js') }}"></script>

 </div>


{% endblock %}
