
{% extends 'flask_user/_public_base.html' %}


{% block extra_css %}

<link href="{{url_for('static', filename='search_drive_offer__style.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


{% endblock %}

{% block header %}

 {% endblock %}

{% block content %}

  <div class="row vh-80">
      <div class="col-sm-6 py-2">
        <div class="h-100" id="map"></div>
      </div>
      <div class="col-sm-6 py-2">
          <div class="card h-100 ">
              <div class="card-body h-100">

                <form method ="POST" class="form-inline" action="/driverOffer">
                  <div class="form-group mb-2 col-5">
                  {{ form.csrf_token }}
                  {{ form.von(class_="form-control", id ="from-input", onClick="this.setSelectionRange(0, this.value.length)") }}
                  {% for error in form.von.errors %}
                  <p class="text-warning"> {{ error }} </p> <br>
                  {% endfor %}
                  </div><div class="form-group mb-2 col-5">
                  {{ form.nach(class_="form-control", id="to-input", onClick="this.setSelectionRange(0, this.value.length)") }}

                </div>

                {{form.submit(class_="btn btn-outline-success") }}
                </form>
                <table id="com-offer-table" class="table table-light">
                  <thead >
                    <tr>
                      <th scope="col">Vehicle</th>
                      <th scope="col">€/ km</th>
                    </tr>
                </thead>
                  <tbody>
                    {% for driverOffer in allDriverOffers %}
                     <tr onClick="location.href='/drive_offer_detail/{{driverOffer.get_id()}}'">
                       <td>   {{ driverOffer.get_vehicle() }}</td>
                       <td>{{ driverOffer.get_kilometerpreis() }} € </td>
                     </tr>
                    {% endfor %}
                  </tbody>
                </table>
  <button class="btn btn-outline-success"  onClick="location.href='/create_drive_offer'"> Create Driver Offer</button>
          </div>
      </div>
  </div>
  </div>

  <!--- Info - Symbol - Start --->

   <div class="box">
    <a class="button" href="#popup1">
      <i class="fa fa-question-circle" style="font-size: 1em;color:red"></i></a>
  </div>

  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Help</h2>
      <a class="close" href="#">&times;</a>
      <div class="contencd t" style="color: black;">
        Are you a company that is searching for drivers to employ? Then you've come to the right place!
        Pick the start and the end point of your desired transport route on the right to discover appropriate offers.
        In the unfortunate case, that there is no such option available, you can nevertheless add your request by clicking
        "Create Driver Offer" and hopefully potential drivers will contact you soon!
      </div>
      </div>
    </div>
  </div>

  <!--- Info - Symbol - Ende --->


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sidebar/3.3.2/jquery.sidebar.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&v=3.exp&sensor=false&libraries=places"></script>
<script type=text/javascript src="{{url_for('static', filename='search_drive_offer__script.js') }}"></script>




{% endblock %}
