@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body
{
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;

}


h1
{
  text-align: center;
}

p
{
    color: #FFFFFF;
}

h2
{
    color: #FFFFFF;
}

.content
{
    padding: 16px;
    background: #33322F;
    color: white;
    overflow: hidden;
    height:68vh;

}


.box1, .box2, .box3, .box4 {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }

  .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


.input
{
    background:  #33322F;
    color: white;
    border: 1px #7E888A solid;
    border-radius: 2px;
    width: 100%;
    opacity: 0.7;
    width: 100%;
}



input:hover
{
  opacity: 1;
}

.roboto-font
{
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
}



.alert-box {
	padding: 15px;
  width:100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    position: relative;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
    position: absolute;
}
