body
{
    color: #FFFFFF;
}
.roboto-font
{
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
}

.content
{
    padding: 16px;
    #background: #33322F;
    color: white;
}

h1
{
  text-align: center;
}

p
{
    color: #FFFFFF;
}

h2
{
    color: #FFFFFF;
}

a3
{
  font-size: 1.5rem;
  color: black;
  border-radius: 15px;
  border-color: green;
  background-color: lightgreen;
}

a2
{
  color: black;
  text-align: right;
  border-radius: 15px;
  border-color: green;
  background-color: lightgreen;
}

a1
{
  color: black;
  text-align: left;
  border-radius: 15px;
  border-color: grey;
  background-color: lightgrey;
}

#Tabelle
{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}
