body
{
    color: #FFFFFF;
}
.roboto-font
{
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
}

.content
{
    padding: 16px;
    background: #33322F;
    color: white;
}


.button
{
    color: black;
}

.offer-detail-container
{
  overflow: hidden;
}
.offer-label-container
{
  float : left;
  padding-right: 16px;
}

.btn
{
  border: 1px #79AB64 solid;
  color: #79AB64;
  border-radius: 45px;
  height: 60px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
}
