#card{
  height: 700px;
  opacity: 95%;

}

#containerparent {
  width: 625px;
  height: 760px;
  opacity: 95%;
  position: absolute;
  right: 230px;
  top: 100px;
}

#containerchild{
  opacity: 95%;
}

#containerwiderparent{
  width: 870px;
  height: 748px;
  position: relative;
  top: 34px;
  left: -240px;
  opacity: 95%;
  margin-bottom: 100px
}
#containerwiderchild
{
  position: absolute;

}



#com-offer-table{
  width: 870px;
  height: 690px;
  opacity: 95%;

}

body
{
    background: url('img/comOffer.png') ;
    background-repeat: no-repeat;
}


.button {
  font-size: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 100;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d80606;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
