body
{
  background-image: url('img/driverOffer.png');
  background-repeat: no-repeat;
    color: #FFFFFF;
}

#map
{
   height: 45vh;
   margin-left: -16px;
   margin-right: -16px;
   max-width: none;
max-height: none;
}

/* .active
{
  border: red 1px solid;
} */
