

.submit-btn {
  margin-left: 16px;
    background: #33322F;
    border: 1px #7E888A solid;
    border-radius: 2px;
    opacity: 0.7;
    overflow: hidden;

}



.input-div
{
    overflow: hidden;
}

.label-div
{
    float: left;
    padding-right: 16px;
}

.wrapper
{
    overflow: hidden;
}

.offer-container
{
  border: solid 1px #7E888A;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 30px;
  margin-right: 16px;
}

.com-offer-container
{
  border: solid 1px #7E888A;
  margin-bottom: 16px;
  padding-top padding-left padding-right: 16px;
  border-radius: 30px;
}

.list-entry
{
  float: left;
  margin-right: 16px;
  display: inline-block;
}

.drive-offer-container
{
  border: solid 1px #7E888A;
  padding: 16px 16px 0 16px;
  border-radius: 30px;
  margin: 0 16px 16px 0;

}

.delete-btn
{
  border: 1px #79AB64 solid;
  color: #79AB64;
  border-radius: 45px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 45px;
  float:right;
}

.arrow-container
{
  margin: 0 0 0 16px;
  top: 8px;
  position: relative;

}

.location-container
{
overflow:hidden;
display: inline-block
}

i
{
  vertical-align: middle;
}


#container
{
  width: 1210px;
  height: 760px;
}

#work-time-container
{
  position: absolute;
  top: 100px;

}

#my-offers-container
{
  position: absolute;
  top: 100px;
  right: 10px;
  left: 10px;
}

#my-orders-container
{
    position: absolute;
    top: 100px;
    right: 10px;
    left: 10px;
=======
body
{
    background: url('img/profil.png') ;
    background-repeat: no-repeat;
}


/* ------------- Pop-Up-Start ---------------- */

.box
{
  margin-left: auto;
  width: 50%;
}

.button {
  font-size: 2em;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 100;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d80606;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* ------------- Pop-Up-Ende ---------------- */
