@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body
{
    color: #FFFFFF;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;<
}

a
{
  color: #2A6D87;
}

input
{
    background:  #33322F;
    color: white;
    border: 1px #7E888A solid;
    border-radius: 2px;

    opacity: 0.7;
    height:32px;
    float: left;
}

input:hover
{
  opacity: 1;
}

.roboto-font
{
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
}

#map
{
   height: 45vh;
   margin-left: -16px;
   margin-right: -16px;
   max-width: none;
max-height: none;
}

.scroll-container
{
  overflow-y: scroll;
  max-height: 45vh;
}

.tab
{
  background:#7E888A;
  font-size:2rem;
  font-weight: 10rem;
  border: none;
  color: #2A6D87;
}

.submit-btn {
  margin-left: 16px;
    background: #33322F;
    border: 1px #7E888A solid;
    border-radius: 2px;
    opacity: 0.7;
    overflow: hidden;

}

#main-profile-container-tab
{
  background: white;
}

.content
{
    padding: 16px;
    background: #33322F;
    height: 68vh;
    width: 100%;
}

.profile
{
  height: 60vh;
}




.input-div
{
    overflow: hidden;
}

.label-div
{
    float: left;
    padding-right: 16px;
}

.wrapper
{
    overflow: hidden;
}


.alert-box {
	padding: 15px;
  width:100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    position: relative;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
    position: absolute;
}

.btn
{
  border: 1px #79AB64 solid;
  color: #79AB64;
  border-radius: 45px;
  height: 60px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 44px;
}



.offer-container
{
  border: solid 1px #7E888A;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 30px;
  margin-right: 16px;
}

.com-offer-container
{
  border: solid 1px #7E888A;
  margin-bottom: 16px;
  padding-top padding-left padding-right: 16px;
  border-radius: 30px;
}

.list-entry
{
  float: left;
  margin-right: 16px;
  display: inline-block;
}

.drive-offer-container
{
  border: solid 1px #7E888A;
  padding: 16px 16px 0 16px;
  border-radius: 30px;
  margin: 0 16px 16px 0;

}

.delete-btn
{
  border: 1px #D35F60 solid;
  color: #D35F60;
  border-radius: 45px;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 45px;
  float:right;
}

.location-container
{
overflow:hidden;
display: inline-block
}

i
{
  vertical-align: middle;
}


@media only screen and (min-device-width: 736px) {

  ::-webkit-scrollbar{
    border-radius: 10px;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    width: 10px;
    border-radius: 10px;
  }
  }
