
/* Style for the Autocomplete Places List */
.pac-container
{
  background: #33322F;
  color: white;
  position: absolute;
  width:10vw;
}

.pac-matched
{
  color: white;
}

.pac-item-query
{
  color: white;
}

.pac-item
{
  background:  #33322F;
  color: white;
}
